body{
	font-family: 'Gaegu';
	font-weight: 300;
}
header{
	background-image: url(../../images/dubai.jpg);
	background-size: cover;
	background-position: center top;
	height: calc(90vh);
}

header img.logo{
	width: 120px;
}
header > div.container{
	padding-top: 20px;
	padding-bottom: 20px;
}
header div.topMenu > div{
	display: flex;
	align-items: center;
	color: #fff;
}
header div.headText{
	width: 100%;
	font-size: 1.5em;
	letter-spacing: -0.04em;
}

section.stats{
	position: relative;
	height: calc(25vh);
	color: #fff;
}
section.stats > div.container{
	position: relative;
	z-index: 5;
	height: 100%;
}
section.stats > div.container > div.row{
	height: 100%;
}
section.stats > div.container > div.row > div{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
section.stats > div.container > div.row > div > div > span:first-child{
	align-items: center;
	font-size: 7em;
	font-weight: 700;
	justify-content: center;
	text-align: center;
	display: block;
	line-height: 1em;
	letter-spacing: -0.1em;
}
section.stats > div.container > div.row > div > div > span:last-child{
	align-items: center;
	font-size: 2em;
	font-weight: 300;
	justify-content: center;
	text-align: center;
	display: block;
	line-height: 1em;
	letter-spacing: -0.04em;
}
section.stats > figure.blackPolygon{
	position: absolute;
	z-index: 1;
	background: black;
	width: 100%;
	height: 130%;
	top: -25px;
	left: 0;
	-webkit-clip-path: polygon(31% 5%, 71% 0, 100% 6%, 100% 94%, 72% 93%, 31% 99%, 0 90%, 0 0);
	clip-path: polygon(31% 5%, 71% 0, 100% 6%, 100% 94%, 72% 93%, 31% 99%, 0 90%, 0 0);
}